
<div id="login" class="mt-2">
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin m-3">
              <div class="card-body background" style="width:auto">

    <img class="card-img-top" src="https://cdn2.unrealengine.com/metaimage1-1920x1080-abb60090deaf.png" alt="Card image cap">
    
     <h2 class="card-title mt-3">Name</h2>
      <p class="card-text">Descrition</p>
      <p class="card-text">Clasification</p>
      <p class="card-text">Price</p>
      <button class="btn btn-dark">Add to Cart<i class="fas fa-cart-plus"></i></button>
     <button class="btn btn-dark m-3">Buy</button> 
    </div>
  
</div>
</div>
</div>
</div>
