
<div class="container mt-3">
    <div class = "row"> 
        <div class="col">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn2.unrealengine.com/metaimage1-1920x1080-abb60090deaf.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">nombre</h5>
      <p class="card-text">descripcion</p>
      <p class="card-text">clasificacion</p>
      <p class="card-text">precio</p>
       <i class="fas fa-cart-plus"></i>
     <p><button>Comprar</button></p> 
    </div>
  </div>
</div>
</div>
</div>