<div class="details">
  <div class="game-banner">
    <img class="game-banner-img" src="{{ gameDetail.background_image }}" />
    alt="background image" />
  </div>
  <div class="game-content">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">{{ gameDetail.name }}</h1>
        <h2 class="game-header-release-date">
          Release: {{ gameDetail.released | date }}
        </h2>
        <p class="game-header-genres">
          <span *ngFor="let genre of gameDetail.genres; let last = last"
            >{{ genre.name }}<span *ngIf="!last">, </span></span
          >
        </p>
        <p class="game-header-genres">
          <br /><br /><br />{{ gameDetail.description }}
        </p>
        <p class="game-name">$ {{ gameDetail.price }}</p>
        <button class="btn btn-dark">
          Agregar al carrito <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
