.carrito {
  margin-left: 15%;
  margin-top: 5%;
}
.background {
  background-color: #02000e;
  box-shadow: 6px 5px 10px 2px rgb(21 12 73 / 100%);
  color: white;
}

.carro {
  margin-left: 20%;
}

.backg {
  background-color: #b6b6c2;
}

.game-thumbnail {
  width: 150px;
  height: 100px;
}

.table .thead {
  display: table;
  width: 100%;
  background-color: lightblue;
  position: fixed;
}
.table {
  table-layout: fixed;
}

.white {
  color: white;
}
