<div class="row carrito">
  <div class="col-12 col-md-6 mt-3">
    <div class="table-responsive">
      <table class="table table-striped" style="width: 100%">
        <thead class="backg">
          <tr>
            <th scope="col" class="text-center" style="width: 10rem">Imagen</th>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Genero</th>
            <th scope="col" class="text-center">Precio</th>
            <th scope="col" class="text-center">Cantidad</th>
            <th scope="col" class="text-center">Subtotal</th>
            <th scope="col" class="text-center">#</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of cartList">
            <!-- <div class="game"> -->
            <tr class="text-light">
              <td class="text-center">
                <img
                  src="{{ row.background_image }}"
                  alt="thumbnail"
                  class="game-thumbnail"
                />
              </td>
              <td class="text-center">{{ row.name }}</td>
              <td class="text-center">
                <ng-container *ngFor="let row of row.genres">
                  <td class="text-center">{{ row.name }}<span>&nbsp;</span></td>
                </ng-container>
              </td>
              <td class="text-center">{{ row.price }}</td>
              <td class="text-center">
                <input
                  type="number"
                  style="width: 50px"
                  value="{{ row.quantity }}"
                  min="0"
                  (change)="updateQty(row._id, $event)"
                />
              </td>
              <td class="text-center">{{ row.price * row.quantity }}</td>
              <td class="text-center">
                <a
                  data-bs-toggle="tooltip"
                  data-placement="top"
                  title="Eliminar"
                  (click)="delInternalItem(row)"
                  ><i class="fas fa-times"></i
                ></a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-3 col-md-6 mt-3">
    <form class="carro" method="post">
      <div class="card background" style="width: 10rem">
        <div class="card-body text-right">
          <h3 class="card-text">Total: ${{ totalAmount }}</h3>
          <a routerLink="/buy" routerLinkActive="active" class="btn btn-dark"
            >Comprar</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
