<div id="login" class="mt-2">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin m-3 background">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Sign Up
                    </h5>
                    <form class="form-signin">
                        <div class="form-label-group mb-3">
                            <input type="email" class="form-control p-1 fondoInput" placeholder="Email"  />
                        </div>
                        <div class="form-label-group mb-3">
                            <input type="password" class="form-control p-1 fondoInput" placeholder="Password" />
                        </div>
                        <div class="form-label-group mb-3">
                            <input type="text" class="form-control p-1 fondoInput" placeholder="Name" />
                        </div>
                        <div class="form-label-group mb-3">
                            <input type="text" class="form-control p-1 fondoInput" placeholder="Surname" />
                        </div>
                        <div class="form-label-group mb-3">
                            <input type="text" class="form-control p-1 fondoInput" placeholder="Address" />
                        </div>
                        
                        <div class="text-center">
                            <button class="btn btn-dark text-uppercase mt-3" type="submit">
                               Sign Up
                            </button>
                        </div>
                    </form>
</div>
</div>
</div>
</div>
</div>