<div class="container custom-container-2">
  <!-- Show it when there is no product -->
  <div class="no-data text-center" *ngIf="Product.length == 0">
    <p>There is no game added yet!</p>
  </div>

  <div class="games">
    <ng-container *ngFor="let product of Product">
      <div class="game" (click)="openProductDetails(product._id)">
        <div class="game-thumb-container">
          <img
            *ngIf="product.background_image"
            src="{{ product.background_image }}"
            alt="thumbnail"
            class="game-thumbnail"
          />
          <p *ngIf="!product.background_image">No image</p>
        </div>
        <div class="game-description">
          <p class="game-name">{{ product.name }}</p>
          <p class="game-released">Lanzamiento: {{ product.released }}</p>
          <p class="game-released">Rating: {{ product.rating }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
